#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SidebarScreenlet
Encoding=UTF-8
Version=1.0
Type=Application
Exec= python -u /usr/share/screenlets/Sidebar/SidebarScreenlet.py
X-GNOME-Autostart-enabled=true
